{
  "trailingComma": "none",
  "printWidth": 80,
  "endOfLine": "auto",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
